
# Elastic Beanstalk Files
backend/.elasticbeanstalk/*
backend/.elasticbeanstalk/*.cfg.yml
backend/.elasticbeanstalk/*.global.yml

# backend
backend/.env
backend/__pycache__/

#frontend
frontend/.env
frontend/node_modules
